<h1>Websites</h1>

<table>
    <% @websites.each do |website| %>
        <tr>
            <td><%= website.id %></td>
            <td><%= website.name %></td>
            <td><%= website.url %></td>
            <td><%= website.status %></td>
            <th><%= website.last_checked_at %></th>
        </tr>
    <% end %>
</table>
